@import '../../../assets/scss/helpers';

.fp-plan {
  position: relative;
  padding-top: 1.6rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  flex: 0 0 33.33%;
  width: 100%;
  max-width: 33.33%;
  &__popular {
    position: absolute;
    bottom: -0.2rem;
    top: 0;
    left: 0.1rem;
    right: 0.1rem;
    padding-top: 0.2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    display: block;
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
    color: $white;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    background-color: $rose;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    @include transition(opacity 0.15s ease-in);
    cursor: pointer;
  .fp-plan--popular.fp-plan--active & {
      opacity: 1;
      visibility: visible;
    }
  }
  &__inner {
    position: relative;
    padding: 0.6rem 0.6rem 0.8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $light-grey;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    border-radius: 0.8rem;
    cursor: pointer;
    .fp-plan--active & {
      background-color: #fff;
      box-shadow: 0 0 0 0.2rem $rose;
      @include transitionMultiple(background-color 0.15s ease-in, box-shadow 0.15s ease-in);
    }
  }
  &__date-num {
    display: block;
    font-size: 4.2rem;
    line-height: 1.15;
    font-weight: $bold;
    .fp-plan--popular & {
      font-size: 1.4rem;
      line-height: 1.58;
      font-weight: $bold;
      text-transform: uppercase;
    }
  }
  &__date-text {
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1.8rem;
    line-height: 1.12;
    .fp-plan--popular & {
      font-size: 1.4rem;
      line-height: 1.58;
      font-weight: $bold;
      text-transform: uppercase;
    }
  }
  &__price {
    display: block;
    font-size: 1.2rem;
    line-height: 1.333;
  }
  &__price-term {
    display: block;
    font-size: 1.2rem;
    line-height: 1.333;
  }
}