/* Scaffold styles
*******************************************************************************************************************************/

html {
  padding: 0;
  margin: 0;
  height: 100%;
  @include border-box-all;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $bg;
}

a {
  color: inherit;
  @include transition;
  text-decoration: none;

  &:hover {
    @include transition;
    color: $link-hover;
    text-decoration: none;
  }
}


figure {
  margin: 0;
}

img {
  max-width: 100%;
  border: none;
}

// Utils

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
